    <section id="title" class="shinyOrange">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Lista de expositores</h1>
          </div>
        </div>
      </div>
    </section>

    <section id="body" class="officialGrey">
      <div class="container allWhite">    
        
        <%= link_to 'New Expositor', new_expositor_path("blank"), :class => "btn btn-info" %>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Publicacion</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @expositors.each do |expositor| %>
                <tr>
                  <td><%= expositor.nombre %></td>
                  <td>
                    <% if !expositor.publicacion.blank? %>
                      <%= expositor.publicacion.nombre %>
                    <% else %>
                      No hay publicación asignada.
                    <% end %>
                  </td>
                  <td><%= link_to 'Show', expositor, :class => "btn btn-warning" %></td>
                  <td><%= link_to 'Edit', edit_expositor_path(expositor), :class => "btn btn-warning" %></td>
                  <td><%= link_to 'Destroy', expositor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>          
        </div>

        <%= link_to 'Back', publicacions_path, :class => "btn btn-warning" %>
        <br><br>
      </div>
    </section>

    <section id="footer" class="officialGrey">
      <div class="container">
        <div class="panel panel-success">         
          <div class="panel-heading">
            <h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
          </div>
        </div>
      </div>
    </section>