<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @expositor.nombre %>
</p>

<p>
  <strong>Publicacion:</strong>
  <%= @expositor.publicacion %>
</p>

<%= link_to 'Edit', edit_expositor_path(@expositor) %> |
<%= link_to 'Back', expositors_path %>
