<%= form_for @section, :html => {:class => "form-horizontal", "role" => "form"} do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>      
  </div>
  <div class="form-group">
    <%= f.label :sub_nombre, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :sub_nombre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Actualizar Section", :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
