    <section id="title">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Lista de Secciones</h1>
          </div>
        </div>
      </div>
    </section>

    <section id="body">
      <div class="container">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Sub Nombre</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @sections.each do |section| %>
                <tr>
                  <td><%= section.nombre %></td>
                  <td><%= section.sub_nombre %></td>
                  <td><%= link_to 'Show', section, :class => "btn btn-link" %></td>
                  <td><%= link_to 'Edit', edit_section_path(section), :class => "btn btn-link" %></td>
                  <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Section', new_section_path, :class => "btn btn-link" %>

      </div>
    </section>

    <section id="footer">
      <div class="container navbar-fixed-bottom">
        <div class="panel panel-success">         
          <div class="panel-heading">
            <h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
          </div>
        </div>
      </div>
    </section>