<%= form_for @publicacion, :html => {:class => "form-horizontal", "role" => "form"} do |f| %>
  <% if @publicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publicacion.errors.count, "error") %> prohibited this publicacion from being saved:</h2>

      <ul>
      <% @publicacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>      
  </div>
  <div class="form-group">
    <%= f.label :siglas, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :siglas, :class => "form-control" %>
    </div>      
  </div>
  <div class="form-group">
    <%= f.label :year, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :year, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :semestre, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :semestre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :linkMD, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :linkMD, :class => "form-control" %>
    </div>
  </div>  
  <div class="form-group">
    <%= f.label :section_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% if @publicacion.section.blank? %>
        <%= f.select :section_id, options_for_select(allSections.map{ |s| [s.nombre, s.id] }), {}, { :class => "form-control" } %>
      <% else %>
        <%= f.select :section_id, options_for_select(allSections.map{ |s| [s.nombre, s.id] }, selected: @publicacion.section.id), {}, { :class => "form-control" } %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Actualizar Publicacion", :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
