        <section id="title" class="shinyOrange">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1><%= @publicacion.nombre %></h1>
                        <p>
                            <%= @publicacion.siglas %> - <%= @publicacion.linkMD %>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="body" class="officialGrey">
            <div class="container allWhite">

                <%= link_to new_entry_path(@publicacion), class: "btn btn-success", "role" => "button" do %>
                  Nueva Entrada <span class="badge"> <%= @publicacion.entries.count %></span>
                <% end %>       

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Linkmd</th>
                        <th>Publicacion</th>
                        <th>Entry Anterior</th>
                        <th>Entry Siguiente</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @publicacion.entries.order("id ASC").each do |entry| %>
                        <tr>
                          <td><%= entry.nombre %></td>
                          <td><%= entry.fecha %></td>
                          <td><%= entry.linkMD %></td>
                          <td>
                            <% if !entry.publicacion.blank? %>
                              <%= entry.publicacion.nombre %>
                            <% else %>
                              Sin publicación asignada.
                            <% end %>
                          </td>
                          <td>
                            <% if !entry.entry_anterior.blank? %>
                              <%= entry.entry_anterior.nombre %>
                            <% else %>
                              Sin entry anterior asignada.
                            <% end %>
                          </td>
                          <td>
                            <% if !entry.entry_siguiente.blank? %>
                              <%= entry.entry_siguiente.nombre %>
                            <% else %>
                              Sin entry siguiente asignada.
                            <% end %>
                          </td>
                          <td><%= link_to 'Show', entry, :class => "btn btn-warning" %></td>
                          <td><%= link_to 'Edit', edit_entry_path(entry), :class => "btn btn-warning" %></td>
                          <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>                

                <%= link_to 'Back', create_publicacion_path(@publicacion.section), :class => "btn btn-warning" %>

                <br><br>
            </div>
        </section>

        <section id="footer" class="officialGrey">
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
                    </div>
                </div>
            </div>
        </section>