    <section id="title">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Lista de publicaciones</h1>
          </div>
        </div>
      </div>
    </section>


    <section id="body">
      <div class="container">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Year</th>
                <th>Semestre</th>
                <th>Section</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @publicacions.each do |publicacion| %>
                <tr>
                  <td><%= publicacion.nombre %></td>
                  <td><%= publicacion.year %></td>
                  <td><%= publicacion.semestre %></td>
                  <% if !publicacion.section.blank? %>
                    <td><%= publicacion.section.nombre %></td>
                  <% else %>
                    <td>Sin Section asignada</td>
                  <% end %>
                  <td><%= link_to 'Show', publicacion, :class => "btn btn-link" %></td>
                  <td><%= link_to 'Edit', edit_publicacion_path(publicacion), :class => "btn btn-link" %></td>
                  <td><%= link_to 'Destroy', publicacion, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <br>

        <%= link_to 'New Publicacion', new_publicacion_path, :class => "btn btn-link" %>

      </div>
    </section>

    <section id="footer">
      <div class="container navbar-fixed-bottom">
        <div class="panel panel-success">         
          <div class="panel-heading">
            <h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
          </div>
        </div>
      </div>
    </section>