		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.cht') %></h1>
						<p><%= t('profe.cht') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 05-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 5 - Presentaciones I</h2>

				<u><h2>Gestión Organizacional - Individuo y Organización</h2></u>

				<p>La doble contingencia organizacional: mezcla del sistema organizacional contigente y el sistema de personalidad contigente de los trabajadores.</p>

				<p>La motivación en una empresa debe hacer que el desempeño del trabajador mejore en la empresa.</p>

				<h3>Abraham Maslow</h3>
				<p>Solo las necesidades insatisfechas son realmente motivadoras.</p>

				<h3>Frederick Herzberg</h3>
				<p>Hay dos factores, el de Higene y el relacinado con lo "quehacer".</p>

				<h3>Mc Gregor</h3>
				<p>Vicula la motivación con la administración de los roles en el trabajo. Ser un líder antes de un jefe. <br>
					Teoría x: cuando un jefe manda y obliga a trabajar.<br>
					Teoría y: poder de liderazgo.</p>

				<h3>David McClelland</h3>
				<p>Hay motivación por el lobro, por la afiliación y por el poder.</p>

				<h3>Victor Vroom</h3>
				<p>Hace una relación entre el esfuerzo y las metas personales.</p>
				<ul>
					<li>Esfuerzo-Logro</li>
					<li>Logro-Recompensa</li>
					<li>Recompensa-Metas Personales</li>
				</ul>

				<h3>Manfred Max-Neef</h3>
				<p>Ve tres factores: Necesidad, Satisfacción y Bienes económicos.</p>

				<hr>

				<p>Las personas deben estar interesads en ingresar y formar parte de una organización. Además debe estar interesado en contribuir en ella.</p>

				<p>Se puede dividir el vínculo Empresa-trabajador en dos dimensiones: </p>
				<ul>
					<li>Compromiso del trabajador</li>
					<li>Reconocimiento de la empresa</li>
				</ul>

				<p>La mescla de estas dos genera la <b>Doble Contingencia</b></p>


				<u><h2>Gestión Organizacional - Comunicación </h2></u>

				<p>Bateson: hay cosas de entorno que resaltan para nosotros,</p>
				<p>Wiener: La comunicación es orden. Pero el conocimiento es caotíco.</p>
				<p>Maturana: somos de estructura determinada</p>
				<p>Luhmann; tenemos una gran selsección de laternativas.</p>

				<h3>Watzlawick, Beavom y Jackson</h3>

				<UL>
					<LI>Comportamiento es comunicación</LI>
					<li>Contenido y Relación</li>
					<li>Secuencias de comunicación</li>
					<li>Lenguaje digital y analógico</li>
					<li>Simétrico o Complementario</li>
				</UL>

				<p>Tres tipos de seleccines: información, expresión, recepción.</p>

				<p>La comuncación no es al azar</p>
				<ul>
					<li>Improbabilidad de que se entienda lo que se quiere decir</li>
					<li>Improbabilidad de tener acceso a personas que no están presentes</li>
					<li>Improbabilidad de que el otro crea lo que se dice</li>
				</ul>

				<h3>Ventana de Johari</h3>

				<ul>
					<li>Área Pública</li>
					<li>Área Oculta</li>
					<li>Área Ciega</li>
					<li>Área Desconocida</li>
				</ul>

			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_cht_cht_c4_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 4 - La Organización Creadora de Conocimiento: cápitulo 3
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramos.cht'), apuntes_cht_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_cht_cht_c6_path, :class => "pull-right" do %>
									<span class="glyphicon glyphicon-arrow-right"></span> Clase 6 - Poder y Autoridad (Cap. 5 Gestión organizacional)
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>
