		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.cht') %></h1>
						<p><%= t('profe.cht') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 08-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 6 - Poder y Autoridad (Cap. 5 Gestión organizacional)</h2>

				<p> <%= image_tag('cht/cht_c6_1.png', :class => 'img-responsive img-thumbnail') %> </p>

				<p>Según Hirchman (1970) cada persona tiene dos opciones: </p>
				<ul>
					<li>Retirarse de la organización</li>
					<li>Permanecer en la organización: **Faltaron apuntes**</li>
				</ul>

				<p> <%= image_tag('cht/cht_c6_2.png', :class => 'img-responsive img-thumbnail') %> </p>

				<p><b>Sistema Cerrado:</b> se puede decidir a quién se le da el poder y cuanto, no se permite influencia externa <br>
					<b>Sistema Abierto:</b> los poderes se generan por otros factores, se pueden sumar poderes de diferentes organizaciones, inclos de poderes externos a una organización.</p>

				<h3>Citas</h3>

				<p>Humberto Maturana: el poder es una concesión del sometido. <br>
					Greogry Bateson: el pdoer es una falacia epistemológica. "El todo no puede ser determinado por una parte" (refiriendose a la "idea del poder"). <br>
					Luhmann: El poder puede crecer en medida que aumentan las alternativas del individuo.
				</p>

				<p>Cuando falla la comunicación: la violencia toma el poder. Es usada como un mecanismo de evitación ya que se hacen poco atractivas otras alternativas.</p>

				<p>Gandhi: "La no violencia activa"</p>

				<p>El liderzasgo depende mucho del contexto, del carisma de la persona y sus cualidades personales. Sin embargo esto esta sometido al contexto en el que se necesite un lider. El rol del lider esta vinculado con el rol de sus seguidores. La <b>teoría ecléctia</b> divide el liderzasgo en:</p>
				<ol>
					<li>Estructura Personal</li>
					<li>Las personalidades de los seguidores</li>
					<li>La estructura y función del grupo</li>
					<li>Situación actual del grupo</li>
				</ol>

				<p> <%= image_tag('cht/cht_c6_3.png', :class => 'img-responsive img-thumbnail') %> </p>

			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_cht_cht_c5_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 5 - Presentaciones I
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramos.cht'), apuntes_cht_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>