		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.cht') %></h1>
						<p><%= t('profe.cht') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 24-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 7 - Presentaciones II</h2>

				<u><h2>Imagenes de la organización - Cap 2: La mecanización toma el mando</h2></u>

				<h3>Chuang-tzu</h3>

				<p>filósofo de la antigua china. <br>
				Cuenta una historia, habia una persona que hacia algo metódicamente de forma manual, llegó el Chuang-tzu y le dijo que lo hiciera de forma más facil, un mecanismo. Le responde que sí lo hace de forma de máquina, se convierte en máquina.<br>

				Se llega a que la maquinización influye en la vida y nos convierte, nos mecaniza. <br><br>

				<b>La influencia de las máquinas</b><br><br>

				La metáfora de las máquinas: Nos comportamos como relojes<br>

				Rutina + Precisión + Metas = Tareas realizadas<br>

				Guías de evaluación. Son pautas seguidas al pie de letra, para medir rendimiento del empleado</p>

				<h3>Mecanización Burocracia</h3>

				<p>Las organización que son diseñadas  y operan como máquinas. <br>
				reto: cambiar esta forma de pensar.<br>

				Las organizaciones que operan como una máquina se denominan burocráticas.
				Un modelo mecanicista de la organización puede conseguir las bases de una
				operación.</p>

				<h3>Org. mecanicista.</h3>

				<p>Las organizaciones son instrumentos creados para un fin.<br>
				En la rev. industrial se consideró importante esto con el surgimiento de las
				máquinas.<br>
				Francisco de Prusia crea un ejército super organizado donde la gente tiene miedo
				de sus jefes.<br>
				Adam Smith estableció como se crean las organizaciones en su libro: The Wealth of the Nation. <br><br>

				<b>Max weber. </b><br><br>
				Definición concreta de Burocracia. Org que realza la precisión. <br>
				</p>

				<h3>Orígenes de la organización y la teoría</h3>

				<p>
					<b>Teo. clasica.</b><br><br>
					La gestión es un Proceso de planificar, organizar, mandar  coordinar y controlar.<br>
					Sentaron las bases de técnicas de la Org. moderna.<br>
					El organigrama:	Solo un jefe máximo.<br>

					Caracteristicas: 
						<ul>
							<li>Unidad de mando</li>
							<li>División del trabajo</li>
							<li>Disciplina </li>
							<li>Equidad</li>
							<li>Control exhaustivo.</li>
						</ul>

					<b>Frederick Taylor</b><br><br>
						<ol>
							<li>Creo direccion cientifica. 5 principios:</li>
							<li>El directivo deberá planificar y analizar todo lo relativo al trabajo, el trabajador solo realiza la tarea dada.</li>
							<li>Utilizar el método científico para determinar el modo más eficiente de realizar el trabajo.</li>
							<li>Seleccionar la persona indicada para realizar el trabajo.</li>
							<li>Instruir al trabajador para hacer el trabajo eficientemente.</li>
							<li>Controlar el rendimiento del trabajador. Debido a que tiene tareas concisas.</li>
						</ol>
					

					<b>La dirección Científica:</b><br><br>
					<ul>
						<li>A partir de la teoría clásica se crea la dirección científica. </li>
						<li>Utilizar el estudio-de-tiempos y actividades.</li>
						<li>Aumenta la actividad.</li>
						<li>Se cambian los “expertos artesanos” por “inhábiles trabajadores”</li>
						<li>Se separa la planificación, diseño del trabajo y ejecución.</li>
						<li>Existe una distancia entre los diferentes cargos jerárquicos de una organización.</li>
					</ul>		

					El trabajador solo debe trabajar, hay otras personas que piensan por ellos y le dan las tareas que tienen que realizar. Permite minimizar el costo en personal experto.<br>
					"No se supone que piensas, hay otras personas a las que se les paga para pensar" (Taylor)<br>
					Los trabajos que tienen que realizar, deben ser simples, para que sea facil de instruir, supervisar y reemplazar, así los trabajadores son baratos<br>
					Todo esto comenzó con el auge de la industrialización a principios del 1900. Provocando que nos vieramos a nosotros mismos como maquinas.
				</p>

				<h3>Ventaja y limitaciones</h3>

				<p>
					Lo limitado de las tareas, pequeñas y concisas.<br><br>

					<b>Limitacion.</b><br><br>

					Finalmente la mecanización nos afectó a todos nosotros haciendo que nos veamos como máquinas.<br>

					<ol>
						<li>Establecer objetivos e ir por ellos.</li>
						<li>Organizar racionalmente, eficientemente y claramente.</li>
						<li>Especificar cada detalle para que cada uno esté seguro de la tarea.</li>
						<li>Planear, organizar y controlar.</li>
					</ol>

					Limitaciones:

					<ul>
						<li>Trabaja bien si las máquinas trabajan bien</li>
						<li>Tarea lineal para trabajar.</li>
						<li>Entorno que asegure que el producto realizado será el esperado.</li>
						<li>Cuando se desee producir el mismo una y otra vez</li>
						<li>La  parte humana debe ser obediente</li>
					</ul>
					
					Si las maquinas trabajan bien la organización trabaja bien.<br>
					Se debe cumplir con variables de entornos adecuadas para que los resultados de tareas lineales entreguen lo esperado.<br>

					<ol>
						<li>Las formas organizacionales pueden tener dificultades para adaptarse al cambio de circunstancias o ambientes.</li>
						<li>Crear mucha burocracia en la organización. Procesos rígidos.</li>
						<li>Se pueden generar consecuencias no previstas ya que los seres humanos son variables y cambiantes, no como las maquinas. Esto puede producir que algunos intereses de trabajadores tengan preferencia sobre los objetivos de la organización.</li>
						<li>Efectos deshumanizadores sobre los empleados, sobre los niveles mas bajos de la organización. Se produce apatia.</li>
					</ol>

					Surgimiento de nuevos problemas hace que sea difíciles de enfrentar en el modelo mecanicista:<br>
					"No es mi trabajo"<br>
					"No me pagan por eso"<br>
					"Yo hago lo que me dicen"<br><br>


					Se despresia la iniciativa. Solo por que le manda a realizar la tarea y no aprecian sus iniciativas, que no tenga interés en cambiar las cosas.
				</p>

				<h3>Conclusión:</h3>
				<p>Las organizaciones tratan de moldear al hombre donde este pasa a ser un tornillo en ella. El trabajador pierde enriquecimiento personal y la organización pierde una contribución inteligente.</p>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_cht_cht_c6_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 6 - Poder y Autoridad (Cap. 5 Gestión organizacional)
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramo.cht'), apuntes_cht_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<!--
								<%= link_to CLASE_SIGUIENTE_PATH, :class => "pull-right" do %>
									Clase X <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
								-->
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>