		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ep') %></h1>
						<p><%= t('profe.ep') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 25-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 5 - Ayudantía II: Conceptos ecónomicos</h2>

				<p>
					<ul>
						<li>Costo Variable: Un costo variable depende de la producción.</li>
						<li>Costo Fijo: Los costos fijos son los que debe pagar la empresa independiente de su nivel de producción.</li>
						<li>Depreciación: Cuando un activo es utilizado para generar ingresos, este sufre un desgaste normal durante su vida útil que el final lo lleva a ser inutilizable</li>
						<li>Tasa de interés: La depreciación es una devaluación. Finalmente estos productos se devalúan y la idea es utilizar la depreciación para reemplazarlos cuando se destruyan. En el sii existe una tabla para las depreciaciones. Tasa de interés es el costo del dinero.</li>
						<li>Valor futuro del dinero: El valor del futuro del dinero es la cantidad de dinero que alcanzará una inversión en el futuro.</li>
					</ul>
				</p>

				<h3>Punto de equilibrio</h3> <small>Debe ser hecho anual.</small>

				<p>Ver <i>Costos Fijos</i> en los que incurre el servicio, también se debe determinar la variable que determina cuál es el <i>Costo Variable</i></p>

				<p>También se debe determinar cuales son los Ingresos y compararlos con los costos, está igualdad entrega el punto de equilibrio.</p>

				<p>Dentro de los costos se debe analizar arriendos, servicios básicos, salarios, etc.</p>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ep_ep_c4_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 4 - PESTA
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramo.ep'), apuntes_ep_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_ep_ep_c5_path, :class => "pull-right" do %>
									Clase 6 - Punto de Equilibrio <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>