		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ep') %></h1>
						<p><%= t('profes.ep') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 1-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 2 - Estudio del Mercado</h2>

				<p>El mercado se debe describir entre el tamaño actual, el potencial, caracteristicas y especificidades. <br>
					También es importante conocer el perfil del consumidor y el tipo de cliente. <br>
					También deben ser tomado en cuenta los elementos de: La capacidad técnica, análisis, reglametos, etc. </p>

				<p>Segmentación del Mercado</p>
				<ul>
					<li>Medibles: Tamaño y capacidad de compra</li>
					<li>Accessibles: Compradores identificables y alcanzables</li>
					<li>Suficientemente grandes: cuantificación del mercado</li>
				</ul>

				<p>Para ello se usan criterios geográficos, datos personales, específicos a empresas e intangibles.</p>

				<h3>Comportamiento del Consumidor</h3>

				<ul>
					<li>El cliente siente una necesidad</li>
					<li>Compara</li>
					<li>Decide</li>
					<li>Queda satisfecho/No queda satisfecho</li>
					<li>Repite y habla bien de nosotros/Protesta, reclama, maldice y no vuelve.</li>
				</ul>

				<p>Preguntas sobre el consumidor</p>
				<ul>
					<li>¿Quién compra?</li>
					<li>¿Porqué compra?</li>
					<li>¿Qué compra?</li>
					<li>¿Cómo compran?</li>
					<li>¿Cuánto compran?</li>
					<li>¿Cuándo compran?</li>
				</ul>

				<h3>Investigación de Mercado</h3>

				<p>Se intenta probar una tesis sobre el mercado</p>

				<p><b>Técnicas de investigación:</b></p>

				<ul>
					<li>Survey o Encuesta: Se elige una muestra de total y se analizan los resultado según lo obtenido en esa muestra. Es cuantitativa.
						<ul>
							<li>
								Aspectos Teóricos:
								<ul>
									<li>Definición del tamaño y perfil del público objetivo.</li>
									<li>Tamaño de la muestra.</li>
									<li>Tema e información recolectar.</li>
									<li>Construcción de preguntas y respuestas.</li>
									<li>Lugar.</li>
									<li>Manejo de interpretación de datos.</li>
									<li>Tiempo de duración y aplicación.</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

				<p><b>Mercado META / Nico de mercado:</b>La unión de dos segmentos de mercado</p>

			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ep_ep_c1_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 1 - Introducción
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to <%= t('ramos.ep') %>, apuntes_ep_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_ep_ep_c3_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 3 - Ayudantía I
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>