		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ep') %></h1>
						<p><%= t('profes.ep') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 04-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 3 - Ayudantía I: 5 Fuerzas de Porter</h2>

				<h3>Evaluación de ayudantía</h3> <small>20%</small>
				<p>Se evaluarua con un 10% la asistencia y con un 10% una tarea a mediados de semestre.</p>

				<h3>5 Fuerzas de Porter</h3>

				<ul>
					<li>
						Competencia Interna: Cluster Empresarial de empresas que ya están en la industria.
						<li>
							<i>Integración hacia Adelante</i><span class="glyphicon glyphicon-arrow-left"></span> Proveedores**: Aquellos que nos darán los materiales para realizar nuestro trabajo.
						</li>
						<li>
							<span class="glyphicon glyphicon-arrow-left"></span> Sustitutos: Qué es lo que sustituye nuestro servicio en este momento y por qué el nuestro es mejor.
						</li>
						<li>
							<i>Integración hacia atrás</i><span class="glyphicon glyphicon-arrow-left"></span> Clientes**: Aquellos que compraran nuestro producto o servicio.
						</li>
						<li>
							<span class="glyphicon glyphicon-arrow-left"></span> Nuevos Competidores (Barrera de entrada): Qué capital se necesita para ingresar al negocio.
						</li>
						<li>
							<span class="glyphicon glyphicon-arrow-right"></span> Barrera de Salida: Se deben recuperar los gastos realizados para entrar al negocio para poder salir de él.
						</li>
					</li>
				</ul>

				<p>** Tienen <b>Poder de Negociación.</b></p>

				<p>Diplomado: Dirección y Gestión de Proyectos. PMBOK.</p>
				<p>Electivo: Gestión de Proyectos / Luis Berrios.</p>
				<p>PRINCE2: Diplomado que asegura un proyecto éxitoso.</p>
				<p>Libro de Proyectos para: SchaLbeck, Project Management in Information Teck.</p>

			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ep_ep_c2_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 2 - Estudio del Mercado
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramos.ep'), apuntes_ep_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_ep_ep_c4_path, :class => "pull-right" do %>
									Clase 4 - PESTA <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>