		<section id="title" class="shinyOrange">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="hidden-xs">	
							<div class="col-md-4">
								<%= link_to image_tag('estilo/header_3.png', :class => 'header-title'), home_path %>
							</div>
							<div class="col-md-8">
								<p class="title-sub">
									Apuntes de Ingeniería Civil Informática ~
									</br>
									¡De la clase al cuaderno, del cuaderno a internet!
								</p>		
							</div>
						</div>
						<div class="hidden-sm hidden-md hidden-lg">
							<h1>Apuntes USACH</h1>
							<p>Apuntes de Ingeniería Civil Informática ~</p>
							<p>¡De la clase al cuaderno, del cuaderno a internet!</p>
						</div>
					</div>
					<div id="fecha" class="col-md-2">
						<div class="fb-like hidden-print" 
						     data-href="http://apuntesusach.herokuapp.com/"
						     data-layout="button_count"
						     data-action="like"
						     data-show-faces="true"
						     data-share="true"
						></div>
					</div>
				</div>
			</div>
		</section>

		<section id="body" class="back-image">
			<div id="contenido" class="container allWhite">
				<div class="row">
					<div class="col-md-12">
						<h1>¡Bienvenidos!</h1>
						<p class="lead text-justify">
							Bienvenidos a mi página de apuntes universitarios, espero que todo lo que esté aquí les sirva en su carrera profesional :) Abajo encontrarán las preguntas más comunes que te ayudarán a entender este sitio web, mientras que arriba encontraras la barra de navegación para todo el sitio.
						</p>
						<div class="fb-share-button hidden-print" data-href="http://apuntesusach.herokuapp.com" data-layout="box_count"></div>						
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="hover">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
							  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
							  <li data-target="#carousel-example-generic" data-slide-to="4"></li>
							</ol>

						  	<!-- Wrapper for slides -->
						  	<div class="carousel-inner" role="listbox">
						    	<div class="item active">
						    		<div id="item-carrusel" class="row">
						    			<div class="col-md-4 hidden-xs">
						    				<p class="text-center">
						    					<%= fa_stacked_icon "heart", base: "square-o", class: "fa-5x text-danger" %>
						    				</p>
						    			</div>
						    			<div class="col-md-8">
						    				<h3>Razones y Motivaciones</h3>
						    				<blockquote>
						    					<p class="text-justify">Los cuadernos gastan mucho espacio, acumulan polvo y son difíciles de navegar, así que: ¿Por qué no mejor tener todo en un solo sitio, más ordenado y accesible? De esta idea nació crear una página de apuntes. La otra motivación es ayudar al resto de mis compañeros con acceso a guías, comentarios y contenido :)</p>
						    				</blockquote>
						    			</div>
						    		</div>
							    </div>
							    <div class="item">
							    	<div id="item-carrusel" class="row">
							    		<div class="col-md-4 hidden-xs">
							    			<p class="text-center">
							    				<%= fa_stacked_icon "question", base: "square-o", class: "fa-5x text-primary" %>
							    			</p>
							    		</div>
							    		<div class="col-md-8">
							    			<h3>¿Y qué es esta página exactamente?</h3>
							    			<blockquote>
							    				<p class="text-justify">Está página corresponde a mis apuntes en clase desde el segundo semestre del 2014 hasta el final de mi carrera. Cada apunte es un reflejo de mis cuadernos, por lo que algunos temas no son muy detallados mientras otros sí.</p>
							    			</blockquote>
							    		</div>
							    	</div>
							    </div>
							    <div class="item">
							    	<div id="item-carrusel" class="row">
							    		<div class="col-md-4 hidden-xs">
							    			<p class="text-center">
							    				<%= fa_stacked_icon "search-minus", base: "square-o", class: "fa-5x text-warning" %>
							    			</p>
							    		</div>
							    		<div class="col-md-8">
							    			<h3>¿Por qué solo hay apuntes desde el noveno semestre y no desde el comienzo de la carrera?</h3>
							    			<blockquote>
							    				<p class="text-justify">Porque recién tengo los conocimientos suficientes para crear y montar mi propia página web, además... ¡¡perdí los cuadernos de los semestres anteriores!! Aunque si me preguntas a mí, estos semestres son lejos los más complicados.</p>
							    			</blockquote>
							    		</div>
							    	</div>
							    </div>
							    <div class="item">
							    	<div id="item-carrusel" class="row">
							    		<div class="col-md-4 hidden-xs">
							    			<p class="text-center">
							    				<%= fa_stacked_icon "plus", base: "square-o", class: "fa-5x text-success" %>
							    			</p>
							    		</div>
							    		<div class="col-md-8">
							    			<h3>¿Puedo incluir mis apuntes en tu página?</h3>
							    			<blockquote>
							    				<p class="text-justify">¡Claro! tan solo envíame un mail <%= link_to "(Datos de contacto)", contacto_path %> y te daré las indicaciones necesarias para incluir tus apuntes!! (y por supuesto que tu nombre será incluidos en ellos si lo deseas <i class="fa fa-smile-o"></i>) </p>
							    			</blockquote>
							    		</div>
							    	</div>
							    </div>
							    <div class="item">
							    	<div id="item-carrusel" class="row">
							    		<div class="col-md-4 hidden-xs">
							    			<p class="text-center">
							    				<span class="fa-stack fa-5x">
							    				  	<i class="fa fa-square-o fa-stack-2x text-info"></i>
							    				  	<i class="fa fa-users fa-stack-1x text-info"></i>
							    				  	<i class="fa fa-ban fa-stack-2x text-danger"></i>
							    				</span>
							    			</p>
							    		</div>
							    		<div class="col-md-8">
							    			<h3>¡No quiero mis apuntes en tu sucia página!</h3>
							    			<blockquote>
							    				<p class="text-justify">¡Comprendo, pero no te pongas así! :c </br> Esta página es código libre :) Ha sido desarrollada usando Ruby On Rails y Postgresql. Puedes ver el código fuente <a href="https://github.com/Theby/Apuntes-USACH">Aquí</a>. Ante cualquier duda no desistas en <%= link_to "preguntarme!", contacto_path %></p>
							    			</blockquote>
							    		</div>
							    	</div>
							    </div>
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>						
					</div>					
				</div>

				</br></br>
			</div>
		</section>

		<section id="home-footer" class="navbar-fixed-bottom footerGrey hidden-print">
			<div class="container">
				<div class="triple-footer" align="center">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="paypal-img col-md-4">
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="8PPW7PY96FNNS">
										<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
									</form>
								</div>
								<div class="col-md-8">
									<p class="paypal-text text-justify">
										Realizar esta página tomó bastante trabajo, esfuerzo y tiempo.
									</br>
										Por supuesto es gratis para todos ustedes, pero si deseas devolverme el favor puedes donar presionando este botón!
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-12">
									<%= image_tag('estilo/footer_5.png', class: "footer-logo", :width => "100%") %>
								</div>
								<div class="col-md-12">
									<p class="firma-footer">
										Desarrollado por Esteban Gaete Flores
									</p>
								</div>
							</div>							
						</div>
						<div class="col-md-4">
							<div class="col-md-8">
								<p class="mail-text" align="right">
									E-mal Contacto
									</br>
									¡Respuestas en 24hrs!
									</br>
									esteban.gaete@usach.cl
								</p>
							</div>
							<div class="col-md-4">
								<%= fa_icon "envelope 5x", class: "mail-img" %>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</section>