		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ihc') %></h1>
						<p><%= t('profe.ihc') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 25-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 5 - Quiebre, Transparencia en General</h2>

				<p><i>Cuando se <b>quiebra</b> (rompe) la <b>transparencia</b> de aquello en lo cual estabamos absortos emerge la <b>visibilidad</b> del paraje donde estabamos desde antes.</i></p>

				<p>Decartes: Relaciona sujeto y Objeto como cosas por separado. <br>
					Heiddeger: Relaciona que existe un sentido de transparencia que se puede quebrar, dandonos visibilidad de la situación en la que nos encontramos.

					<ul>
						<li>Transparencia: Es cuando el sujeto se ve sumergido en una acción tal que es uno mismo con el objeto.</li>
						<li>Quiebre: Situación que rompe con el esquema general de la acción haciendo que el sujeto note a los objetos a su alrededor.</li>
						<li>Visibilidad: Estado en el que el sujeto puede tomar total conciencia de las cosas a su alrededor.</li>
					</ul>
				</p>

				<h3>Percepción</h3>

				<p>La percepción puede estar dada por varios factores:
					<ul>
						<li>Creencias: Fuerzan la realidad a que sea de una forma.</li>
						<li>Hábitos: La costumbre de las cosas nos impide ver la realidad completamente</li>
						<li>Biológico: Dado por las capacidades biologicas, dependen netamente de las capacidades físicas.</li>
					</ul>

					Las cosas son deacuerdo al contexto en el que aparecen.
					<b>En IHC las tareas tienen acciones, las cuales son a nivel atómico.</b>
				</p>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c4_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 4 - La Escucha
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramo.ihc'), apuntes_ihc_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<!-- clase siguiente
								<%= link_to home_path, :class => "pull-right" do %>
									Clase X <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
								-->
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>