		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ihc') %></h1>
						<p><%= t('profe.ihc') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 09-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 4 - La Escucha</h2>

				<p>En una conversación se establecen turnos y silencios.<br>
					Escuchar consiste en conformar historias, es un fenómeno humano que crea la realidad.<br><br>
					No solo se secucha con palabras.

					<ul>
						<li>Quien escucha va ligando trozos de información de manera coherente a través de un hilo conductor.</li>
						<li>Este hilo tiene forma de narrativa, la cuál le va dando estindo a todo lo que el otro expresa en palabras o con su cuerpo.</li>
						<li>El proceso de escuchar es siempre interpretativo.</li>
					</ul>

					Escuchar es un proceso ACTIVO.
				</p>

				<p>Las funciones del habla pueden ser: Sociales o individuales.</p>

				<p>
					¿Que buscamos al hablar?: Depende de dónde tengamos la intensión comunicativa. Puede ser en hacernos entender o en buscar entender. <br>
					Esto se dan según:
					<ul>
						<li>Contexto</li>
						<li>Estado emocional de la conversación</li>
						<li>Historia personal</li>
					</ul>

					Por lo que para poder escuchar debemos:
					<ul>
						<li>Soltar certezas y suspender juicios: No se debe argumentar con que uno tiene la razón. No se debe predecir la respuesta del otro.</li>
						<li>Total disposición a estar presente: No huir de la conversación, tener todos los sentidos pendientes.</li>
						<li>Respetarse a uno mismo y hacer silencio: Estar dispuesto a escuchar.</li>
						<li>Aceptar y legitimar al otro: Estar dispuesto a aceptar al otro. Se le entiende, se pide que aclare su punto de vista y que profundice lo que dice.</li>
						<li>No estar ansioso ni apurado: Darse el tiempo de escuchar al otro.</li>
					</ul>
				</p>

				<p>La certeza es el gran enemigo de la escucha. Una buena escucha requiere de voluntad y de destinar tiempo para entender al otro:
					<ul>
						<li>Verificar si se ha escuchado bien</li>
						<li>Compartir las inquietudos propias</li>
						<li>Entender las inquietudes del otro</li>
						<li>Inquirir en que el otro aclare su punto de vista</li>
					</ul>

					Se debe mejorar el respeto a uno mismo, lograr entenderse y ser responsable de sus propios actos. Se deben perder los prejuicios y lograr tener o mantener un estado de reconciliación con el otro.
				</p>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c3_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 3 - Diseño de la Presentación Según la Gestalt
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramo.ihc'), apuntes_ihc_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c5_path, :class => "pull-right" do %>
									Clase 5 - Quiebre, Transparencia en General <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>								
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>