		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ihc') %></h1>
						<p><%= t('profe.ihc') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 20-08-2014</p>
					</div>
				</div>
			</div>
		</section>
			
		<section id="body">
			<div class="container">
				<h2>Clase 2 - Usabilidad a la Nielsen</h2>

				<p><b>Usabilidad:</b> efectividad, eficiencia, satisfacción.</p>

				<p>Debe propocionar aprendisaje, de fácil memorización, con baja tasa de errores y con alta satisfacción del usuario.</p>

				<h3>10 Heurísticas</h3>

				<ol>
					<li>El estado del sistema ha de estar siempre visible</li>
					<li>Se ha de utilizar el lenguaje de los usuarios</li>
					<li>El usuario tiene control y libertad</li>
					<li>Hay consistencia y se siguen estandares</li>
					<li>Existe prevención de errores</li>
					<li>Se minimiza la carga de la memoria del usuario</li>
					<li>Existe flexibilidad y eficiencia de uso</li>
					<li>Los diálogos son estéticos y diseño minimalista</li>
					<li>Se reconocen, diagnostican y se recupera de errores</li>
					<li>Existe ayuda y documentación</li>
				</ol>

				<p>Una persona en promedio puede recordar <b>7 +- 2</b> opciones diferentes.</p>
			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c1_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 1 - Introducción
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramos.ihc'), apuntes_ihc_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c3_path, :class => "pull-left" do %>
									Clase 3 - Diseño de la Presentación Según la Gestalt <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>