		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ihc') %></h1>
						<p><%= t('profe.ihc') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 20-08-2014</p>
					</div>
				</div>
			</div>
		</section>
			
		<section id="body">
			<div class="container">
				<h2>Clase 2 - Usabilidad a la Nielsen</h2>

				<p><b>Usabilidad:</b> efectividad, eficiencia, satisfacción.</p>

				<p>Debe propocionar aprendisaje, de fácil memorización, con baja tasa de errores y con alta satisfacción del usuario.</p>

				<h3>10 Heurísticas</h3>

				<ol>
					<li>El estado del sistema ha de estar siempre visible</li>
					<li>Se ha de utilizar el lenguaje de los usuarios</li>
					<li>El usuario tiene control y libertad</li>
					<li>Hay consistencia y se siguen estandares</li>
					<li>Existe prevención de errores</li>
					<li>Se minimiza la carga de la memoria del usuario</li>
					<li>Existe flexibilidad y eficiencia de uso</li>
					<li>Los diálogos son estéticos y diseño minimalista</li>
					<li>Se reconocen, diagnostican y se recupera de errores</li>
					<li>Existe ayuda y documentación</li>
				</ol>

				<p>Una persona en promedio puede recordar <b>7 +- 2</b> opciones diferentes.</p>


				<h3>Checklist para revisar las heuristicas</h3>

				<p><b>Errors - help diagnose, recognize and recover from them</b></p>
				<ol>
					<li>Are error messages clear and in plain language?</li>
					<li>Are error messages useful (suggest the cause of the error)?</li>
					<li>Do error messages provide a clear exit point?</li>
					<li>Do error messages provide contact details for assistance?</li>
					<li>It is easy to contact support through e-mail or a web form?</li>
				</ol>
				
				
				<p><b>Errors prevention</b></p>
				<ol>
					<li>Are potential errors recognized before becoming a problem?</li>
					<li>Does the system prevent users from making errors whenever possible?</li>
					<li>Does the system warn users if they are about to make a potentially serious error?</li>
				</ol>

				
				<p><b>Help and documentation</b></p>
				<ol>
					<li>Is there online help?</li>
					<li>Is the available help useful?</li>
					<li>A site map or other navigational assistance is always readily available?</li>
					<li>Is the available documentation too large?</li>
					<li>If it exists, is the help information accurate, complete and understandable</li>
				</ol>

				<p><b>Consistency and Standards</b></p>
				<ol>
					<li>Does the system follow conventions and expectations?</li>
					<li>Is a legend provided if colour codes are numerous or not obvious in meaning?</li>
					<li>Are commands used the same way and do they mean the same thing in all parts of the system?</li>
				</ol>
				
				<p><b>Recognition rather than recall</b></p>
				<ol>
					<li>Have items been grouped into logical zones, and have headings been used to distinguish between zones?</li>
					<li>Is colour coding consistent throughout the system?</li>
					<li>Are inactive menu items greyed out or omitted?</li>
					<li>Are available options always clearly presented?</li>
					<li>Are labels and links described clearly?	</li>
				</ol>			
				

				<p><b>User control and freedom</b></p>
				<ol>
					<li>When a user's task is complete, does the system waits for a signal from the user before processing?</li>
					<li>Is there an “undo” function at the level of a single action, a data entry, and a complete group of actions?</li>
					<li>Can users cancel out operations in progress?</li>
					<li>Are menus broad (many menu items) rather than deep (many menu levels)?</li>
					<li>If the system has multiple menu levels, is there a mechanism that allows users to go back to previous menus?</li>
				</ol>
				

				<p><b>Visibility of system status</b></p>
				<ol>
					<li>Is it clear what information is available at the current location?</li>
					<li>The current information matches the expected?</li>
					<li>Is it clear where you can go from the current location?</li>
					<li>Is it always clear what is happening from each action you perform?</li>
					<li>Do menu instructions, prompts, and error messages appear in the same place(s) on each page?</li>
					<li>Is there some form of system feedback for every operator action?</li>
					<li>Is there visual feedback in menus or dialogue boxes about which choices are selectable?</li>
					<li>Is there visual feedback in menus or dialogue boxes about which choice the cursor is on mow?</li>
					<li>If multiple options can be selected in a menu or dialogue box is there visual feedback about which options are already selected?</li>
					<li>If there are observable delays (greater than 15s) is the system's response time, is the user kept informed of the system's progress?</li>
				</ol>
				

				<p><b>Flexibility and efficiency of use</b></p>
				<ol>
					<li>Does the system allows novice users to enter the simplest, most common form of each command, and allows expert users to add parameters?</li>
					<li>If the system uses a pointing device, do users have the option of either clicking on fields or using a keyboard shortcut?</li>
					<li>On menus, do users have the option of either clicking directly on a dialogue box option or using a keyboard shortcut?</li>
				</ol>
				

				<p><b>Presentation - Aesthetic and minimalist design</b></p>
				<ol>
					<li>Is the site structure simple and clean?</li>
					<li>Do colour choices allow for easy readability?</li>
					<li>Is the site aesthetically pleasing?</li>
					<li>Are field labels brief, familiar and descriptive?</li>
					<li>Are menu titles brief, yet long enough to communicate?</li>
				</ol>
				
				<p><b>Match between the system and the real world</b></p>
				<ol>
					<li>Are icons concrete and familiar?</li>
					<li>Are menu choices ordered in the most logical way?</li>
					<li>Do the selected colours correspond to common expectations about colour codes?</li>
					<li>Are input data codes meaningful?</li>
					<li>Is the vocabulary appropriate for the intended audience?</li>
				</ol>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c1_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 1 - Introducción
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramos.ihc'), apuntes_ihc_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_ihc_ihc_c3_path, :class => "pull-right" do %>
									Clase 3 - Diseño de la Presentación Según la Gestalt <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>