		<section id="title" class="shinyOrange">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= @publicacion.nombre %></h1>
						<p>
							<% if @publicacion.expositors.count > 1 %>
								<% for index in 0..@publicacion.expositors.count-3 %>
									<%= @publicacion.expositors[index].nombre %>,
								<% end %>
									<%= @publicacion.expositors[@publicacion.expositors.count-2].nombre %>
									y
									<%= @publicacion.expositors[@publicacion.expositors.count-1].nombre %>
							<% else %>
								<%= @publicacion.expositors[0].nombre %>
							<% end %>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body" class="officialGrey">
			<div class="container allWhite">
				<ul>
					<% for entry in @publicacion.entries.order("id ASC") %>
						<li><%= link_to entry.nombre, apunte_path(entry) %></li>
					<% end %>			
				</ul>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>