		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.pingeso') %></h1>
						<p><%= t('profe.pingeso') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 23-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 6 - Introducción a SCRUM</h2>

				<p>El manifiesto Ágil dice:  <a href="www.agilemanifesto.org">www.agilemanifesto.org</a>
					<ul>
						<li><b>Individuos e interacciones</b> sobre Procesos y herramienta.</li>
						<li><b>Software que funciona</b> sobre Documentación exhaustiva.</li>
						<li><b>Colaboración con el cliente</b> sobre negociación de contratos.</li>
						<li><b>Responder ante el cambio</b> sobre seguimiento de un plan.</li>
					</ul>
				</p>

				<p>Caracteristicas importantes:
					<ul>
						<li>Equipos auto-organizados</li>
						<li>El producto avanza con Sprints de dos semanas hasta un mes de duración.</li>
						<li>Antes de cada Sprint se hace una planificación estrategica para ver que se realizará en cada sprint.</li>
						<li>Los requisitos son capturados como elementos de una lista de "Product Backlog"</li>
						<li>No hay prácticas de ingeniería prescritas</li>
						<li>Se deben usar herramientas o practicas para facilitar un entorno ágil de trabajo.</li>
						<li>La incertidumbre existe y debe aceptarse.</li>
						<li>Las fases del desarrollo son solapadas.</li>
						<li>Se realiza un control sutil.</li>
						<li>Se debe difundir el conocimiento entre los miembros del equipo.</li>
						<li>No hay cambios en un sprint.</li>
					</ul>
				</p>

			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_pingeso_pingeso_c5_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 5 - Software y por que ser Ágil
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramo.pingeso'), apuntes_pingeso_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<!--
								<%= link_to CLASE_SIGUIENTE_PATH, :class => "pull-right" do %>
									Clase X <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
								-->
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>