		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.ihc') %></h1>
						<p>Ayudante: Mario Lopez - mario.lopezl@usach.cl</p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 04-09-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Ayudantía 0 - JavaEE</h2>

				<p>JaveEE es una plataforma de desarrollo, base sobre la cual se fija un estándar. <br>
					En el se desarrollan y ejecutan aplicaciones. Comprende modulos de Hardware y Software. <br>
					Además esta orientado a componentes.</p>

				<p> <%= image_tag('pingeso/pingeso_c4_1.png', :class => 'img-responsive img-thumbnail') %> </p>

				<p>EAR: Eterprise Archive</p>
				<ul>
					<li>
						EJB (Enterprise Java Bean): lógica de negocio.
						<ul>
							<li>Transacciones</li>
							<li>Manejo de concurrencia</li>
							<li>Colas de mensajería</li>
							<li>Lógica de negocios</li>
							<li>Seguridad</li>
							<li>
								Beans: Pieza de software
								<ul>
									<li>Entidad: modelo; representa un objeto concetro(una tabla de la BD).</li>
									<li>Mensaje: escucha mensajes en un servicio JMS.(se le puede enviar solicitudes)</li>
									<li>Sesión: Mantienen un estado de sesión para un cliente.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						WAR (Aplicación Web) != JAR
						<ul>
							<li>Consume recursos EJB, REST, Web-service, etc.</li>
							<li>Servicio de archivos html, xml, css, js, etc.</li>
							<li>Framework web: tempate, routers, componentes web.</li>
							<li>Tecnología JSP (Java Server Pages): Primefaces</li>
						</ul>
					</li>
				</ul>

				<h3>Ambiente de desarrollo</h3>

				<ul>
					<li>Base de datos</li>
					<li>Servidor de aplicaciones JavaEE</li>
					<li>EAR = WAR + EJB + etc</li>
					<li>IDE (Netbeans || Eclipse)</li>
					<li>Maven (Gestión de paquetes)</li>
					<li>Control de versiones</li>
					<li>Servidor de testing</li>
				</ul>

				<h3>Artefactos</h3>

				<ul>
					<li>
						Maven:
						<ul>
							<li>El npm de Java</li>
							<li>Apoya el control de versiones y el gestor de paquetes.</li>
							<li>Funciona en base a la configuración de los archivos XML llamados pom.</li>
						</ul>
					</li>
					<li>Git</li>
					<li>
						LESS/SASS
						<ul>
							<li>Pre-procesador de hojas de estilo CSS</li>
							<li>Integración con algunos IDE</li>
							<li>Agiliza y organiza los estilos de las páginas web</li>
						</ul>
					</li>
					<li>
						JUnit
						<ul>
							<li>Construcción y ejecución de test unitarios</li>
							<li>Verificar el estado de los métodos de la aplicación.</li>
						</ul>
					</li>
					<li>
						Selenium:
						<ul>
							<li>Es para firefox</li>
							<li>Automatiza pruebas para aplicaciones WEB</li>
						</ul>
					</li>
				</ul>
			</div>
		</section>

		<section id="footer">
			<div class="container navbar-fixed-bottom">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_pingeso_pingeso_c3_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 3 - Gestión de Proyectos PMI
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to t('ramos.ihc'), apuntes_pingeso_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_pingeso_pingeso_c5_path, :class => "pull-right" do %>
									Clase 5 - Software y por que ser Ágil <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>