		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= t('ramos.sde') %></h1>
						<p><%= t('profe.sde') %></p>
					</div>
					<div class="col-md-6">
						<p class="pull-right">Fecha: 27-08-2014</p>
					</div>
				</div>
			</div>
		</section>

		<section id="body">
			<div class="container">
				<h2>Clase 2 - Data Centers y Cloud Computing</h2>

				<p>Se espera de los sistemas que tengan buen:</p>
				<ul>
					<li>Tiempo de respuesta</li>
					<li>Utilización de recursos de la red</li>
					<li>Eficiencia energetica</li>
				</ul>

				<p><b>Cluester:</b> es un conjunto de nodos conectados entre ellos. Suelen ser identicos y manejados por una sola organización.<br>
					Usan mucha energía, la mayoría de esta se transforma en calor por lo que se necesita invertir en sistemas de enfriamiento. <br>
					Cuando se tiene demasiados clusters, como para construir un edificio de solo ellos, se tiene un:</p>

				<h3>Data Center Network</h3>

				
			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="panel panel-success">
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-3">
								<%= link_to apuntes_sde_sde_c1_path, :class => "pull-left" do %>
									<span class="glyphicon glyphicon-arrow-left"></span> Clase 1 - Introducción
								<% end %>
							</div>
							<div class="col-md-3">
								<%= link_to <%= t('ramo.sde') %>, apuntes_sde_path, :class => "pull-right" %>
							</div>
							<div class="col-md-3">
								<a class="pull-left" href="#top"> Volver Arriba <span class="glyphicon glyphicon-arrow-up"></span></a>
							</div>
							<div class="col-md-3">
								<%= link_to apuntes_sde_sde_c3_path, :class => "pull-right" do %>
									Clase 3 - Mobile Computing & P2P <span class="glyphicon glyphicon-arrow-right"></span>
								<% end %>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
			</div>
		</section>