		<section id="title" class="shinyOrange">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><%= @publicacion.nombre %></h1>
						<p>
							<p class="visible-print-block">Ingeniería Civil Informática</p>
							<% if @publicacion.expositors.count > 1 %>
								<% for index in 0..@publicacion.expositors.count-3 %>
									<%= @publicacion.expositors[index].nombre %>,
								<% end %>
								<%= @publicacion.expositors[@publicacion.expositors.count-2].nombre %>
								y
								<%= @publicacion.expositors[@publicacion.expositors.count-1].nombre %>
							<% else %>
								<%= @publicacion.expositors[0].nombre %>
							<% end %>
							<p class="visible-print-block">Fecha: <%= @entry.fecha %></p>
						</p>
					</div>
					<div id="fecha" class="col-md-6">
						<p class="pull-right hidden-print"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><kbd>Fecha: <%= @entry.fecha %></kbd></p>
					</div>
				</div>
			</div>
		</section>

		<section id="body" class="officialGrey">
			<div class="container allWhite">
				<div class="row">
					<div id="contenido" class="col-md-9" role="main">
						<%= markdown(render file: "Ramos/"+@publicacion.siglas+"/"+@entry.linkMD) %>
					</div>
					<div class="col-md-3" role="complementary">
						<div id="menu-derecho" class="hidden-print hidden-xs hidden-sm affix" data-spy="affix" data-offset-top="181" data-offset-bottom="0">

							<h4>Índice</h4>

							<%= markdownToc(render file: "Ramos/"+@publicacion.siglas+"/"+@entry.linkMD) %>

							<hr class="divider">
							<h4>Ir a:</h4>

							<ul class="nav nav-pills nav-stacked">
								<% if !@entry.entry_anterior.blank? %>
									<li>									
										<%= link_to apunte_path(@entry.entry_anterior) do %>
											<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <%= @entry.entry_anterior.nombre %>
										<% end %>
									</li>
								<% end %>								
								<li>
									<%= link_to apunte_index_path(@publicacion) do %>
										<span class="glyphicon glyphicon-home" aria-hidden="true"></span> <%= @publicacion.nombre %>
									<% end %>
								</li>
								<% if !@entry.entry_siguiente.blank? %>
									<li>									
										<%= link_to apunte_path(@entry.entry_siguiente) do %>
											<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <%= @entry.entry_siguiente.nombre %>
										<% end %>
									</li>
								<% end %>
							</ul>							

							<hr class="divider">
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#top"><span class="glyphicon glyphicon-arrow-up"></span> Volver Arriba</a></li>								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer" class="officialGrey">
			<div class="container">
				<div class="panel panel-success hidden-print">
					<div class="panel-heading">
						<h3 class="panel-title" align="center"> Desarrollado por Esteban Gaete Flores </h3>
					</div>
				</div>
				<p class="visible-print-block">
					~ Desarrollodo por Esteban Gaete Flores ~
				</p>
			</div>
		</section>