		<section id="title" class="shinyOrange">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="hidden-xs">	
							<div class="row">
								<div class="col-md-12">
									<ol id="navegador" class="breadcrumb">
										<li><a href="/home">Home</a></li>
										<li><%= link_to @publicacion.nombre, apunte_index_path(@publicacion) %></li>
										<li class="active"><u><%= @entry.nombre %></u></li>
									</ol>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<%= link_to image_tag('estilo/header_3.png', :class => 'header-title'), home_path %>
								</div>
								<div class="col-md-8">
									<h1 class="title-header"><%= @publicacion.nombre %></h1>
									<p class="visible-print-block">Ingeniería Civil Informática</p>
									<p class="title-teacher">
										<% if !@publicacion.expositors.blank? %>
											<% if @publicacion.expositors.count > 1 %>
												<% for index in 0..@publicacion.expositors.count-3 %>
													<%= @publicacion.expositors[index].nombre %>,
												<% end %>
												<%= @publicacion.expositors[@publicacion.expositors.count-2].nombre %>
												y
												<%= @publicacion.expositors[@publicacion.expositors.count-1].nombre %>
											<% else %>
												<%= @publicacion.expositors[0].nombre %>
											<% end %>
										<% end %>
									<p class="visible-print-block">Fecha: <%= @entry.fecha %></p>
									</p>	
								</div>
							</div>
						</div>
						<div class="hidden-sm hidden-md hidden-lg">
							<h1><%= @publicacion.nombre %></h1>
							<p>
								<p class="visible-print-block">Ingeniería Civil Informática</p>
								<% if !@publicacion.expositors.blank? %>
									<% if @publicacion.expositors.count > 1 %>
										<% for index in 0..@publicacion.expositors.count-3 %>
											<%= @publicacion.expositors[index].nombre %>,
										<% end %>
										<%= @publicacion.expositors[@publicacion.expositors.count-2].nombre %>
										y
										<%= @publicacion.expositors[@publicacion.expositors.count-1].nombre %>
									<% else %>
										<%= @publicacion.expositors[0].nombre %>
									<% end %>
								<% end %>
								<p class="visible-print-block">Fecha: <%= @entry.fecha %></p>
							</p>
						</div>
					</div>
					<div id="fecha" class="col-md-2">
						<p class="pull-right hidden-print"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><kbd>Fecha: <%= @entry.fecha %></kbd></p>
					</div>
				</div>
			</div>
		</section>

		<section id="body" class="officialGrey back-image">
			<div class="container allWhite">
				<div class="row">
					<div id="contenido" class="col-md-9" role="main">
						<%= markdown(render file: "Ramos/"+@publicacion.siglas+"/"+@entry.linkMD) %>
					</div>
					<div class="col-md-3" role="complementary">
						<div id="menu-derecho" class="hidden-print hidden-xs hidden-sm"> <!--data-spy="affix" data-offset-top="100" data-offset-bottom="50"-->

							<h4>Índice</h4>

							<%= markdownToc(render file: "Ramos/"+@publicacion.siglas+"/"+@entry.linkMD) %>

							<hr class="divider">
							<h4>Ir a:</h4>

							<ul class="nav nav-pills nav-stacked">
								<% if !@entry.entry_anterior.blank? %>
									<li>									
										<%= link_to apunte_path(@entry.entry_anterior) do %>
											<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <%= @entry.entry_anterior.nombre %>
										<% end %>
									</li>
								<% end %>								
								<li>
									<%= link_to apunte_index_path(@publicacion) do %>
										<span class="glyphicon glyphicon-home" aria-hidden="true"></span> <%= @publicacion.nombre %>
									<% end %>
								</li>
								<% if !@entry.entry_siguiente.blank? %>
									<li>									
										<%= link_to apunte_path(@entry.entry_siguiente) do %>
											<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <%= @entry.entry_siguiente.nombre %>
										<% end %>
									</li>
								<% end %>
							</ul>							

							<hr class="divider">
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#top"><span class="glyphicon glyphicon-arrow-up"></span> Volver Arriba</a></li>								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer" class="footerGrey hidden-print">
			<div class="container">
				<div class="triple-footer" align="center">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="paypal-img col-md-4">
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="8PPW7PY96FNNS">
										<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
									</form>
								</div>
								<div class="col-md-8">
									<p class="paypal-text text-justify">
										Realizar esta página tomó bastante trabajo, esfuerzo y tiempo.
									</br>
										Por supuesto es gratis para todos ustedes, pero si deseas devolverme el favor puedes donar presionando este botón!
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-12">
									<%= image_tag('estilo/footer-03_2.png', class: "footer-logo", :width => "100%") %>
								</div>
								<div class="col-md-12">
									<p class="firma-footer">
										Desarrollado por Esteban Gaete Flores
									</p>
								</div>
							</div>							
						</div>
						<div class="col-md-4">
							<div class="col-md-8">
								<p class="mail-text" align="right">
									E-mal Contacto
									</br>
									¡Respuestas en 24hrs!
									</br>
									esteban.gaete@usach.cl
								</p>
							</div>
							<div class="col-md-4">
								<%= fa_icon "envelope 5x", class: "mail-img" %>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</section>

		<script>
			$('#menu-derecho').affix({
			  offset: {
			    top: 100,
			    bottom: 200
			  }
			})
		</script>