<!DOCTYPE html>
<html lang="es">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="Apuntes universitarios de Universidad de Santiago de Chile USACH">
	  <meta name="author" content="Esteban Gaete Flores">
	  <title>Apuntes USACH</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Header -->
		<div class="container-fluid">


			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Apuntes USACH", home_path, :class => 'navbar-brand' %>
		    </div>

		    <div id="nav-menu" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				    <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Año 2014 <span class="glyphicon glyphicon-chevron-down"></span> </a>
				        <ul class="dropdown-menu" role="menu">
				            <li>
				            	<%= link_to apuntes_sde_path do %>Sistemas Distribuidos Escalables <span class="glyphicon glyphicon-chevron-right"></span><% end %>
				                <ul id="sub-menu1" class="dropdown-menu sub-menu">
				                    <li><%= link_to "Clase 1 - Introducción", apuntes_sde_sde_c1_path %></li>
				                    <li><%= link_to "Clase 3 - Mobile Computing & P2P", apuntes_sde_sde_c3_path %></li>
				                </ul>
				            </li>
				            <li>
				            	<%= link_to apuntes_ihc_path do %>Interacción Humano Computador <span class="glyphicon glyphicon-chevron-right"></span><% end %>
				                <ul id="sub-menu2" class="dropdown-menu sub-menu">
				                    <li><%= link_to "Clase 1 - Introducción", apuntes_ihc_ihc_c1_path %></li>
				                    <li><%= link_to "Clase 2 - Usabilidad a la Nielsen", apuntes_ihc_ihc_c2_path %></li>
				                </ul>
				            </li>
				            <li>
				            	<%= link_to apuntes_ep_path do %>Evaluación de Proyectos <span class="glyphicon glyphicon-chevron-right"></span><% end %>
				                <ul id="sub-menu3" class="dropdown-menu sub-menu">
				                    <li><%= link_to "Clase 1 - Introducción", apuntes_ep_ep_c1_path %></li>
				                    <li><%= link_to "Clase 2 - Estudio del Mercado", apuntes_ep_ep_c2_path %></li>
				                </ul>
				            </li>
				            <li>
				            	<%= link_to apuntes_pingeso_path do %>Proyecto de Ingeniería de Software <span class="glyphicon glyphicon-chevron-right"></span><% end %>
				                <ul id="sub-menu4" class="dropdown-menu sub-menu">
				                    <li><%= link_to "Clase 1 - Conceptos Importantes", apuntes_pingeso_pingeso_c1_path %></li>
				                    <li><%= link_to "Clase 2 - Metodología RUP", apuntes_pingeso_pingeso_c2_path %></li>
				                </ul>
				            </li>
				            <li>
				            	<%= link_to apuntes_cht_path do %>Comportamiento Humano en el Trabajo <span class="glyphicon glyphicon-chevron-right"></span><% end %>
				                <ul id="sub-menu5" class="dropdown-menu sub-menu">
				                    <li><%= link_to "Clase 4 - La Organización Creadora de Conocimiento: cápitulo 3", apuntes_cht_cht_c4_path %></li>
				                </ul>
				            </li>
				        </ul>
				    </li>
				    <li><a href="#">Contácto</a></li>
				</ul>
			</div>


		</div>
	</nav> <!-- Header -->

	<%= yield %>

	</body>
</html>
