<!DOCTYPE html>
<html lang="es">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="Apuntes universitarios de Universidad de Santiago de Chile USACH">
	  <meta name="author" content="Esteban Gaete Flores">
	  <title>Apuntes USACH</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <!-- Google Analytics -->
	  <script>
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	    ga('create', 'UA-54468477-1', 'auto');
	    ga('send', 'pageview');

	  </script>

	</head>

	<body onload="prettyPrint()">
		<!-- Header -->
        <nav class="navbar navbar-default navbar-fixed-top strongBlue" role="navigation">
            <div class="container-fluid">


                <div class="navbar-header">
                    <button type="button" class="navbar-toggle softBlue" data-toggle="collapse" data-target="#nav-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to "Apuntes USACH", home_path, :class => 'navbar-brand softBlue' %>
                </div>

                <div id="nav-menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <% if !allSections.blank? %>
                            <% for auxSection in allSections.order("id ASC") %>
                                <% if !auxSection.publicacions.blank? %>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <%= auxSection.nombre %> <span class="glyphicon glyphicon-chevron-down"></span> 
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><%= auxSection.sub_nombre %></li>
                                            <li class="divider"></li>
                                            <% for publicaciones in auxSection.publicacions.order("id ASC") %>                                          
                                                <% if !publicaciones.entries.blank? %>
                                                    <li>
                                                        <%= link_to apunte_index_path(publicaciones) do %>
                                                            <%= publicaciones.nombre %> <span class="glyphicon glyphicon-chevron-right"></span>
                                                        <% end %>
                                                        <div class="hidden-xs">
                                                            <ul class="dropdown-menu sub-menu">
                                                                <li><%= link_to publicaciones.nombre, apunte_index_path(publicaciones) %></li>
                                                                <li class="divider"></li>
                                                                <% for entrada in publicaciones.entries.order("id ASC") %>
                                                                    <li><%= link_to entrada.nombre, apunte_path(entrada) %></li>
                                                                <% end %>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                <% else %>
                                                    <li><%= link_to publicaciones.nombre, apunte_index_path(publicaciones) %></li>
                                                <% end %>                                           
                                            <% end %>
                                        </ul>
                                    </li>
                                <% else %>
                                    <li><a href="#"><%= auxSection.nombre %></a></li>
                                <% end %>                       
                            <% end %>
                        <% end %>

                        <!-- Tutorial -->
                        <li><%= link_to "Tutoriales", tutorial_path %></li>

                        <!-- Contacto -->
                        <li><%= link_to "Contácto", contacto_path %></li>
                    </ul>
                </div>


            </div>
        </nav> <!-- Header -->

		<!-- administración -->
		<% if user_signed_in? %>
			<section id="header" class="hidden-print softBlue">
				<div class="container">
					<p class="notice pull-left"><%= notice %></p>
					<p class="alert pull-left"><%= alert %></p>

					<%= link_to  "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger pull-right", "role" => "button" %>
					<%= link_to  "Administración", admin_path, class: "btn btn-success pull-right", "role" => "button" %>
				</div>
			</section>
		<% end %>

		<%= yield %>
        
	</body>
</html>
